In [1]:
from chemics import*
from chempy import balance_stoichiometry ,Reaction
from chempy import Substance
from pprint import pprint

In [15]:
#Inserting chemical equation
ce = ChemicalEquation('C3H7CH2COOH + NaOH -> C3H7CH2COONa + H2O')

In [16]:
#Checking if the balance is correct
ce.balance

True

In [10]:
#Number of moles, chemical species, molecular weight, mass, mole fraction, and mass fraction for each reactant.
ce.rct_properties

           C3H7CH2COOH      NaOH
moles                1         1
species    C3H7CH2COOH      NaOH
molwt          102.133    39.997
mass           102.133    39.997
molfrac            0.5       0.5
massfrac      0.718589  0.281411

In [11]:
#Number of moles, chemical species, molecular weight, mass, mole fraction, and mass fraction for each product.
ce.prod_properties

          C3H7CH2COONa      H2O
moles                1        1
species   C3H7CH2COONa      H2O
molwt          124.115   18.015
mass           124.115   18.015
molfrac            0.5      0.5
massfrac       0.87325  0.12675

In [17]:
# inserting reagents and products using the split method
# output : balanced chemical reaction
reac, prod = 'CuSCN KIO3 HCl'.split(), 'CuSO4 KCl HCN ICl H2O'.split()
Reaction(*balance_stoichiometry(reac, prod)).string()

'4 CuSCN + 7 KIO3 + 14 HCl -> 4 CuSO4 + 7 KCl + 4 HCN + 7 ICl + 5 H2O'

In [18]:
# Redox examples
reac, prod = 'MnO4- NO2-'.split(), 'Mn+2 NO3- e-'.split()
Reaction(*balance_stoichiometry(reac, prod)).string()

'MnO4- + 4 NO2- -> Mn+2 + 4 NO3- + 3 e-'

In [19]:
reac, prod = 'MnO4- H+ NO2-'.split(), 'Mn+2 NO3- H2O'.split()
Reaction(*balance_stoichiometry(reac, prod)).string()

'2 MnO4- + 6 H+ + 5 NO2- -> 2 Mn+2 + 5 NO3- + 3 H2O'